@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	@apply antialiased;
}

a:not(.button) {
	@apply text-gold-sand-600;

	&:hover:not(.router-link-active) {
		@apply text-gold-sand-700;
	}
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
